<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crew Card</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-800">
    <div class="max-w-48 flex flex-col gap-4">
      <img class="rounded-full w-28" src="../images/leah-salomon.jpg" alt="" />
      <h3 class="text-2xl">Leah Salomon</h3>
      <p class="text-base">UI Designer</p>
      <div class="flex items-center justify-between w">
        <a href="anothersite.com"
          ><img src="../images/fa-twitter.png" alt=""
        /></a>
        <a href="anothersite.com"
          ><img src="../images/fa-facebook-square.png" alt=""
        /></a>
        <a href="anothersite.com"
          ><img src="../images/fa-dribbble.png" alt=""
        /></a>
        <a href="anothersite.com"
          ><img src="../images/fa-instagram.png" alt=""
        /></a>
        <a href="anothersite.com"
          ><img src="../images/fa-skype.png" alt=""
        /></a>
        <a href="anothersite.com"
          ><img src="../images/fa-medium.png" alt=""
        /></a>
        <a href="anothersite.com"><img src="../images/fa-git.png" alt="" /></a>
      </div>
    </div>
  </body>
</html>
